@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*::before *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: 'Barlow Semi Condensed';
  font-size: 13px;
}

image {
  width: 100%;
  display: block;
}