@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*::before *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: 'Barlow Semi Condensed';
  font-size: 13px;
}

image {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  background-color: #edf2f8;
  padding: 6rem;
}

.testimonial__author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.testimonial__author img {
  border-radius: 50%;
}

.testimonial__grid {
  width: 100%;
  max-width: 1440px ;
  display: grid;
  grid-template-areas: 
  'one    one   two   five'
  'three  four  four  five'
  ;
  gap: 1.25rem;
}

.testimonial__one {
  grid-area: one;
}
.testimonial__two {
  grid-area: two;
}
.testimonial__three {
  grid-area: three;
}
.testimonial__four {
  grid-area: four;
}
.testimonial__five {
  grid-area: five;
}
