@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  --Light-gray: hsl(0, 0%, 81%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #edf2f8;
    min-height: 100vh;
    width: 100%;
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
}

image {
  width: 100%;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  width: 100%;
  padding: 6rem;
}

.testimonial__card {
  color: var(--Light-grayish-blue);
  border-radius: 10px;
  padding: 1.8rem;
}

.testimonial__author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.testimonial__author img {
  border-radius: 50%;
}

.name {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--Light-gray);
}

.title {
  color: var(--Light-gray);
  opacity: 50%;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.info__strong {
  font-size: 1.2rem;
  font-weight: 600;
}

.info {
  color: var(--Light-gray);
  opacity: 70px;
}

.testimonial__grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'one    one   two   five'
    'three  four  four  five';
  gap: 1.25rem;
}

.one {
  grid-area: one;
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position-x: 320px;
  background-color: var(--Moderate-violet);
}
.two {
  grid-area: two;
  background-color: var(--Very-dark-grayish-blue);
}
.three {
  grid-area: three;
  background-color: var(--White);
  color: hsl(217, 19%, 35%);
}
.four {
  grid-area: four;
  background-color: var(--Very-dark-blackish-blue);
}
.five {
  grid-area: five;
  background-color: var(--White);
  color: var(--Very-dark-grayish-blue);
}

.three .info {
  color: var(--Very-dark-grayish-blue);
  opacity: 70%;
}

.five .info {
  color: var(--Very-dark-grayish-blue);
  opacity: 70%;
}

footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1024px) {
  .container {
    padding: 1rem;
  }
  .testimonial__grid {
    grid-template-areas:
      'one five'
      'two two'
      'three four';
    gap: 1.2rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .testimonial__grid {
    grid-template-areas:
      'one one'
      'two three'
      'four five';
    gap: 1.2rem;
  }
  .one {
    background-position-x: 420px;
  }
}

@media (max-width: 426px) {
  .container {
    padding: 1rem;
  }
  .testimonial__grid {
    grid-template-areas:
      'one'
      'two'
      'three'
      'four'
      'five';
    gap: 1.2rem;
  }
  .one {
    background-position-x: 220px;
  }
}
